.ProductCharacteristics-Conteiner{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 20px;
    background-color: #ffffff;
    font-size: 1.3rem;
    gap: 1rem;
}

.ProductCharacteristics-Conteiner ul{
    font-weight: normal;
    padding-left: 3rem;
    display: flex;
    gap: 3rem;
    justify-content: space-around;
}

.ProductCharacteristics-Conteiner ul li span{
    font-size: 1.1rem;
}