.CartPage-Article {
  padding: 20px;
  padding-top: 30px;
  grid-area: Contenido;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: auto;
  box-sizing: border-box;
}

.CartPage-Conteiner{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}

.CartPage-ProductsSection{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.CartPage-ProductsSection hr{
  width: 90%;
  border-color: rgba(0, 0, 0, 0.062);
}
.CartPage-ProductsGrid{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 20px;
  background-color: #fcfcfc;
  width: 50%;
}

.CartPage-Checkout{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 20px;
  background-color: #fcfcfc;
  width: 25%;
}

