.mainHome{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    gap: 0px 0px; 
    grid-template-areas:
    "Header"
    "Menu "
    "Contenido";
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
}

  .articleHome {

    box-sizing: border-box;
    padding: 20px;
    grid-area: Contenido;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1900px;
    
  }
  