
  .HomePage-Article {
    padding: 20px;
    grid-area: Contenido;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
  }

  .HomePage-Conteiner{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  