.ProductsPage-Conteiner{
  grid-area: Contenido;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}
.ProductsPage-Content{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  justify-content: space-around;
}

.ProductsPage-Nav
{
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.158);
  margin-left: auto;
  padding: 0 0rem 0rem 0;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 13%;
}

.ProductsPage-ProductGrid{
  width: 87%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.158);
}

.ProductsPage-SubContentTitle{
  display: flex;
  justify-content: space-between;
  background-color: #2e2e2e;
  color: white;
  height: 1.4rem;
  align-items: center;
  font-size: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem 1rem 0 0;
}