.ProductsPage-Article{
  display: grid;
  grid-template-columns: 13% 87%;
  grid-template-rows: auto;
  gap:0px 0px; 
  grid-template-areas:
    "NavCategorias Contenido"
    "Footer Footer";
  overflow-y: auto;
  box-sizing: border-box;
}

.ProductsPage nav{
  grid-area: NavCategorias;
  height: 100%;
  width: 100%;
  padding-left: 2rem;
  padding-top: 2rem;
}

.ProductsPage article {
  box-sizing: border-box;
  padding: 20px;
  grid-area: Contenido;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
