.ProfilePage-Article {
  padding: 20px;
  padding-top: 1.5rem;
  grid-area: Contenido;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
  align-items: center;
  background-color: rgb(238, 238, 238);
}

.ProfilePage-Conteiner{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(247, 247, 247);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin-bottom: auto;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.ProfilePage-Box1 {
  width: 1170px;
}


.ProfilePage-Header{
  display: flex;
  justify-content: flex-start;
  height: 1.5rem;
  width: 100%;
  background-color: #2e2e2e;
  border-radius: 1rem 1rem 0 0;
  color: white;
  padding-left: 1rem;
}


