
header {
    grid-area: Header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1rem;
  }
  
  .logo img{
    height: 5rem;
    width: auto;
  }
  
  
  .cart{
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-decoration: none;
    color: white;
  }


  .HideQuantityProductsInCart{
    display: none;
  }

  .ShowQuantityProductsInCart{
    display: flex;
    float: none;
  }

  .cartIcon{
    display: flex;
    max-width: 20px;
  }

  .cartImage{
    z-index: 0;
  }

  .QuantityProductsInCart-number{
    height: 10px;
    position: relative;
    top: -10px;
    left: -40px;
    z-index: 2;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    
  }

  .QuantityProductsInCart-number2{
    height: 10px;
    position: relative;
    top: -7.5px;
    left: -42.5px;
    z-index: 2;
    color: rgb(0, 0, 0);
    font-size: 11px;
    font-weight: bold;
  }

  .QuantityProductsInCart-circle img{
    position: relative;
    top: -9px;
    left: -28px;
    height: 16px;
    width: auto;
    z-index: 1;
  }

  .SearchBar{
    display: flex;
    flex-direction: row;
    padding-left: 0.6rem;
    background-color: #2e2e2e;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.267);
    border-radius: 1rem;
    gap: 0.5rem;
    height: 2.4rem;
  }

  .SearchBar hr {
    border-color: rgb(0, 0, 0);
  }

  .SearchBar-Header{
    display: flex;
    padding-left: 0.4rem;
    align-items: center;
    pointer-events: none;
  }

  #Search-bar{
    width: 30rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #2e2e2e;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
  }

  #Search-bar:focus-visible{
    border: none;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.281);
    outline: -webkit-focus-ring-color auto 0px;
  }

  .Menu {
    grid-area: Menu;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    z-index: 10;
    
    background-color: #2e2e2e;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.267);
    border-radius: 1rem;
  }


  .Menu-Buttons{
    display: flex;
    gap: 1rem;
    padding: 0.9rem 1.5rem 0.5rem 1.5rem;
    border-radius: 1rem;
  }

  .Menu a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
  }

  .Menu-Buttons hr{
    border-color:  rgba(201, 201, 201, 0.356);
  }

