
.ViewSelectedProducts-Conteiner {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.ViewSelectedProducts-productGrid {
  display: flex;
  flex-direction: row;
  gap: 20px;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 1rem;
}

.ViewSelectedProducts-carrouselButtons{
  display: flex;
  flex-direction: row;
  gap: 0;  
  
}
.ViewSelectedProducts-carrouselButtons hr{
  color: #fdfdfd;
  border-color: #cecece60;
}

.ViewSelectedProducts-scroll-button {
  background-color: #fafafa;   
  border: none;                
  cursor: pointer;             
  padding: 10px;                              
  z-index: 10;  
  height: 1.5rem;
  display: flex;
  align-items: center;              
}

.ViewSelectedProducts-scroll-button:hover {
  background-color: #f3f3f3;                
}

.ViewSelectedProducts-scroll-button.left { 
  color: hwb(0 6% 94%);
  border-radius: 0.7rem 0 0 0.7rem;  
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.267);            
}

.ViewSelectedProducts-scroll-button.right {
  color: hwb(0 0% 100%);
  border-radius: 0 0.7rem  0.7rem 0;  
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.267);    
}

.ViewSelectedProducts-Header{
  display: flex;
  justify-content: space-between;
  background-color: rgba(248, 214, 141, 0.514);
  height: 2.5rem;
  align-items: center;
  font-size: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


