html {
  scrollbar-color: #040a0f #202b38;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.root {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-weight: bold;
}