
.ProductsDefault-grid {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1rem 2rem 1rem 2rem;
  justify-content: space-between;
}

.ProductsDefault-product {
  background-color: #ffffff;
  padding: 20px 20px 0px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s;
  height: 300px;
}

.ProductsDefault-product:hover {
  transform: translateY(-5px);
}

.ProductsDefault-contenedorImg{
  min-height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductsDefault-contenedorTitle{
  font-size: 13px;
  max-height: 70px;
  text-align: start;
  overflow: hidden;
  box-sizing: border-box;
  display: -webkit-box; 
  -webkit-box-orient: vertical;
  overflow: hidden;                /* Oculta el contenido que se desborda */
  text-overflow: ellipsis;         /* Agrega los puntos suspensivos */
  -webkit-line-clamp: 3;     
}

.ProductsDefault img{
  max-width: 140px;
  max-height: 140px;
}
.ProductsDefault-product p{
  padding-top: 1em;
}

.ProductsDefault-product button{
  margin-top: 1em;
}

.headerProduct{
  display: flex;
  justify-content: space-between;
}